# Linux ###############################################################################################################
*.swp
*.epoch
*.lck

# Mac OS X ############################################################################################################
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*


# Eclipse #############################################################################################################
**/.settings
**/target
.project
.classpath
.factorypath
.springBeans

# IntelliJ IDEA #######################################################################################################
*.iml
/.idea/
